.hierarchy-editor__tag-bar__tag {
    border-radius: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 5px;
    color: var(--body-text-color);
    font-size: 13px;
    background-color: transparent;
    white-space: pre;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
}
.hierarchy-editor__tag-bar {
    top: 1px;
    bottom: 0px;
}
.hierarchy-editor__tag-bar__tag__delete:hover {
    color: var(--accent-color);
    background-color: transparent;
}
#hierarchy-editor .rem-container--focused .hierarchy-editor__tag-bar__tag .gray {
    color: var(--focused-text-color)!important;
}
#hierarchy-editor .rem-container--default .hierarchy-editor__tag-bar__tag .gray {
    color: var(--body-text-color);
}
#hierarchy-editor .rem-container--default .hierarchy-editor__tag-bar__tag .join-arrow {
    color:  var(--body-text-color);
}
#hierarchy-editor .rem-container--focused .hierarchy-editor__tag-bar__tag .join-arrow {
    color: var(--focused-text-color);
}
.hierarchy-editor__tag-bar .hierarchy-editor__tag-bar__power-up-tag {
    color: var(--icons-color);
}

.work-in-progress-tag {
    padding: 2px;
    padding-right: 8px !important;
    border-radius: 16px;
    background-color: var(--popup-background-color);
    border: 2px solid var(--popup-background-color);
}
#hierarchy-editor .rem-container--focused .work-in-progress-tag {
    padding: 2px;
    padding-right: 8px !important;
    border-radius: 16px;
    background-color: rgb(21, 24, 24);
    border: 2px solid rgb(23, 26, 26);
}
