.rem-checkbox {
    filter: invert(88%)
}
.css-fyMhsa {
    filter: var(--accent-color-filter) brightness(1.3) grayscale(.6) saturate(1.7) opacity(.8);

}

/* .rem-container--todo-finished > div {
    filter: opacity(.5) !important;
    color: var(--accent-color) !important;
    text-decoration: line-through;
} */

.css-bYWPqz {
    filter: var(--accent-color-filter) brightness(1.3) grayscale(.8)  saturate(1.7)  opacity(.6);

}

.rem-container--todo-finished .rem-bullet,
.rem-container--todo-finished .six-dot,
.rem-container--todo-finished .toggle-collapse-button,
.rem-container--todo-finished .zoom-button {
    filter: var(--accent-color-filter) brightness(1.3) grayscale(.6) saturate(1.7) opacity(.8);

}

.rem-container--todo-finished .rem-text {
    color: var(--accent-color) !important;

}

/* .rem-container--todo-finished > div .highlight-color--red,
.rem-container--todo-finished > div .highlight-color--orange,
.rem-container--todo-finished > div .highlight-color--yellow,
.rem-container--todo-finished > div .highlight-color--green,
.rem-container--todo-finished > div .highlight-color--blue,
.rem-container--todo-finished > div .highlight-color--purple {
    color: var(--body-background-color) !important;
} */

#code-node #code-node__change-language-dropdown .menu {
    background-color: var(--popup-background-color);
}
#code-node #code-node__change-language-dropdown .menu .item:first-child {
    color: grey;
}
.ui.upward.dropdown>.menu {
    box-shadow: none;
}
/* toggle this */
.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    background-color: var(--toggle-background-color);
}
.ui.toggle.checkbox .box:after, .ui.toggle.checkbox label:after {
    background-color: var(--toggle-color);
}
.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: var(--button-color)!important;
    border-color: var(--button-color)!important;
}
.ui.toggle.checkbox input:checked~.box:after, .ui.toggle.checkbox input:checked~label:after {
    box-shadow: none!important;
    background-color: var(--toggle-color)!important;
}
/* radio buttons*/
.ui.checkbox .box:before, .ui.checkbox label:before {
    background-color: var(--toggle-background-color)!important;
    border: 0px solid var(--bars-border-color)!important;
}
.ui.checkbox:hover .box:before, .ui.checkbox:hover label:before {
    background-color: rgb(33, 35, 35)!important;
    border: 0px solid var(--bars-border-color)!important;
}
.ui.radio.checkbox input:checked~.box:before, .ui.radio.checkbox input:checked~label:before {
    background-color: var(--toggle-background-color)!important;
}
.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
    border-color: var(--accent-color);
}
.ui.radio.checkbox input:checked~.box:after, .ui.radio.checkbox input:checked~label:after {
    background-color: var(--accent-color);
}
/* bigger check box ui */
.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
    background-color: rgb(93, 112, 151) !important;
    border-color: rgb(54, 62, 78) !important;
}
.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
    color: rgb(54, 62, 78) !important;
}